<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" name="LoggingConfig" monitorInterval="5" >

  <appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
  </appenders>

  <loggers>
    <root level="error">
      <appender-ref ref="STDOUT"/>
    </root>
  </loggers>

</configuration>
