<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" name="LoggingConfig" monitorInterval="5" packages="org.jesterj.ingest.logging" >

  <appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %m%n"/>
    </Console>
    <JesterJAppender name="CASSANDRA">
      <PatternLayout pattern="%m%n"/>
    </JesterJAppender>
  </appenders>

  <loggers>
    <logger level="error" name="org.jesterj" >
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="CASSANDRA"/>
    </logger>
    <root level="debug">
      <appender-ref ref="STDOUT"/>
    </root>
  </loggers>

</configuration>
